body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #1e1e2f;
}

.navbarpople {
    background-color: #FE6048;
}
.container-color {
    background-color: #27293D;
}
h1 {
    color: aliceblue;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;

}

.row > * {
    padding-bottom: 20px;
    }
.btn-primary {
    color: #ffffff;
    background-color: transparent;
    border-color: #e14eca;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
.btn-primary:hover {
    color: #ffffff;
    background-color: #db2dc0;
    border-color: #d725bb;
  }
  
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(230, 105, 210, 0.5);
  }
  
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #d725bb;
    border-color: #cd23b2;
  }
  
  /* INCIO DOS CARDS*/
.card {
    background-color: #32325d;
    color: #ffffff;
    height: 100%;
  }
.card-header {
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    color: #ffffff;
    border-bottom: 0.0625rem solid rgba(34, 42, 66, 0.05);
  }
  
.card .card-header {
    padding: 15px 15px 0;
    border: 0;
  }
.card .card-header .card-title {
    text-transform: inherit;
    font-weight: 200;
    margin-right: 5px;
    margin-bottom: 10px;
  }
.card .card-header .card-category {
    font-size: 0.75rem;
    text-transform: capitalize;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
  }

.form-lanc {
  background-color: #32325d;
  border-radius: 10px;
}

.form-lanc label {
  color: #ffffff;
  font-size: 0.75rem;
}

.form-lanc input{
  color: #dbd7d7b2;
  background-color: transparent;
  border-color: #1f8ef1;
  font-size: 0.85rem;
}

.form-lanc textarea{
  color: #dbd7d7b2;
  background-color: transparent;
  border-color: #1f8ef1;
}

.form-lanc select{
  color: #dbd7d7b2;
  background-color: transparent;
  border-color: #1f8ef1;
  font-size: 0.85rem;
}
.form-lanc select:hover{
  color: #0e0d0db2;
}

.form-lanc .card-header .title {
  font-size: 1.15rem;

}
@media (min-width: 770px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .card-header .alert{
    width: 50%;
  }
}
.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  background-color: #32325d;
  border-radius: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input {
  background-color: transparent;
  border-color: #1f8ef1;
  color: #ffffff;
}

.form-signin label{
  color: #ffffff;
}

.form-signin input:hover{
  color: #ffffff;
  background-color: #32325d;
}
.form-signin input:focus{
  color: #ffffff;
  background-color: #32325d;
}
.form-signin input:active{
  color: #ffffff;
  background-color: #32325d;
}
 